# Домашнее задание к лекции "Базовые понятия статистики"

## Обязательная часть

Будем осуществлять работу с непростым [набором данных](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.csv) о состоянии здоровья лошадей, испытывающих кишечные колики. 

### Задание 1. Базовое изучение

Изучить представленный набор данных на основе [описания его столбцов](https://raw.githubusercontent.com/obulygin/pyda_homeworks/master/statistics_basics/horse_data.names) и выбрать 8 столбцов для дальнейшего изучения (среди них должны быть как числовые, так и категориальные). Провести расчет базовых метрик для них, кратко описать результаты.

### Задание 2. Работа с выбросами

В выбранных числовых столбцах найти выбросы, выдвинуть гипотезы об их причинах и проинтерпретировать результаты. Принять и обосновать решение о дальнейшей работе с ними.

### Задание 3. Работа с пропусками

Рассчитать количество выбросов для всех выбранных столбцов. Принять и обосновать решение о методе работы с пропусками по каждому столбцу, сформировать датафрейм, в котором пропуски будут отсутствовать.

1. Название: База данных по конским коликам

2. Исходная информация
   - Создатели: Мэри Маклиш и Мэтт Сесиль
Департамент компьютерных наук
Университет Гвельфа
Гуэлф, Онтарио, Канада N1G 2W1
mdmcleish@water.waterloo.edu
   - Донор: Уилл Тейлор (taylor@pluto.arc.nasa.gov)
   - Дата: 6 августа 1989 г.

3. Предыдущее использование:
   - Неизвестно

4. Соответствующая информация:

   - 2 файла данных
      - horse-colic.data: 300 учебных экземпляров
      - horse-colic.test: 68 тестовых примеров
   - Возможные признаки класса: 24 (является ли поражение хирургическим)
     - другие включают: 23, 25, 26 и 27
   - Многие типы данных: (непрерывные, дискретные и номинальные)

5. Количество экземпляров: 368 (300 для обучения, 68 для тестирования)

6. Количество атрибутов: 28

7. Информация об атрибутах:

  1: операция?
          1 = Да, была операция
          2 = Лечение прошло без хирургического вмешательства

  2: Возраст
          1 = взрослая лошадь
          2 = Молодой (<6 месяцев)

  3: Номер больницы
          - числовой идентификатор
          - номер дела, присвоенный лошади
            (не может быть уникальным, если лошадь лечится> 1 раз)

  4: ректальная температура
          - линейный
          - в градусах Цельсия.
          - Повышенная температура может возникнуть из-за инфекции.
          - возможно снижение температуры при позднем шоке
          - нормальная температура 37,8
          - этот параметр обычно будет меняться по мере развития проблемы
               например. может начаться нормально, а затем повыситься из-за
                   поражение, возвращаясь в нормальный диапазон, как
                   лошадь в шоке
  5: пульс
          - линейный
          - частота пульса в ударах в минуту
          - отражает состояние сердца: 30-40 - нормально для взрослых
          - редко бывает ниже нормы, хотя у спортивных лошадей
            может иметь коэффициент 20-25
          - животные с болезненными поражениями или страдающие от шока кровообращения
            может иметь повышенную частоту сердечных сокращений

  6: частота дыхания
          - линейный
          - нормальная оценка от 8 до 10
          - полезность сомнительна из-за больших колебаний

  7: температура конечностей
          - субъективное указание на периферическое кровообращение
          - возможные значения:
               1 = Нормальный
               2 = теплый
               3 = круто
               4 = Холодный
          - холодные или холодные конечности указывают на возможный шок
          - горячие конечности должны коррелировать с повышенной ректальной температурой.

  8: периферический пульс
          - субъективный
          - возможные значения:
               1 = нормальный
               2 = увеличено
               3 = уменьшено
               4 = отсутствует
          - нормальный или повышенный п.п. указывают на адекватное кровообращение
            в то время как уменьшенная или отсутствующая указывает на плохую перфузию

  9: слизистые оболочки
          - субъективное измерение цвета
          - возможные значения:
               1 = нормальный розовый
               2 = ярко-розовый
               3 = бледно-розовый
               4 = бледно-синюшный
               5 = ярко-красный / впрыснутый
               6 = темно-синюшный
          - 1 и 2, вероятно, указывают на нормальное или слегка повышенное
            обращение
          - 3 могут возникнуть при раннем шоке
          - 4 и 6 указывают на серьезное нарушение кровообращения
          - 5 больше указывает на сепсис

 10: время наполнения капилляров
          - клиническое заключение. Чем дольше дозаправка, тем беднее
            обращение
          - возможные значения
               1 = <3 секунд
               2 => = 3 секунды

 11: боль - субъективное суждение об уровне боли лошади
          - возможные значения:
               1 = тревога, без боли
               2 = депрессия
               3 = периодическая легкая боль
               4 = периодическая сильная боль
               5 = постоянная сильная боль
          - НЕ следует рассматривать как упорядоченную или дискретную переменную!
          - В целом, чем больнее, тем больше вероятность того, что потребуется
            операция
          - предварительное лечение боли может до некоторой степени замаскировать уровень боли

 12: перистальтика
          - указание активности кишечника лошади. Как кишка
            становится более растянутым или лошадь становится более токсичной,
            активность снижается
          - возможные значения:
               1 = гипермобильность
               2 = нормальный
               3 = гипомотиль
               4 = отсутствует

 13: вздутие живота
          - ВАЖНЫЙ параметр.
          - возможные значения
               1 = нет
               2 = легкий
               3 = умеренный
               4 = тяжелый
          - животное с вздутием живота может причинить боль и
            имеют пониженную перистальтику кишечника.
          - лошади с сильным вздутием живота, вероятно, потребуется
            Хирургия просто сними давление

 14: назогастральный зонд
          - это относится к любому газу, выходящему из трубки
          - возможные значения:
               1 = нет

 15: назогастральный рефлюкс
          - возможные значения
               1 = нет
               2 => 1 литр
               3 = <1 литр
          - чем больше рефлюкс, тем больше вероятность
            серьезное препятствие для прохождения жидкости от остальной части
            кишечник

 16: назогастральный рефлюкс, PH
          - линейный
          - шкала от 0 до 14, где 7 нейтрально
          - нормальные значения находятся в диапазоне от 3 до 4

 17: ректальное исследование - кал
          - возможные значения
               1 = нормальный
               2 = увеличено
               3 = уменьшено
               4 = отсутствует
          - отсутствие кала, вероятно, указывает на непроходимость

 18: живот
          - возможные значения
               1 = нормальный
               2 = другое
               3 = твердый кал в толстой кишке
               4 = растянутый тонкий кишечник
               5 = растянутый толстый кишечник
          - 3, вероятно, препятствие, вызванное механическим воздействием
            и обычно лечится с медицинской точки зрения
          - 4 и 5 указывают на хирургическое поражение

 19: объем упакованной ячейки
          - линейный
          - количество эритроцитов в крови по объему
          - нормальный диапазон от 30 до 50. Уровень повышается по мере циркуляции
            становится скомпрометированным или по мере обезвоживания животного.

 20: общий белок
          - линейный
          - нормальные значения лежат в диапазоне 6-7,5 (г / дл)
          - чем выше значение, тем сильнее обезвоживание

 21: внешний вид брюшной полости
          - в брюшную полость лошади вводят иглу и получают жидкость из
            брюшная полость
          - возможные значения:
               1 = ясно
               2 = облачно
               3 = серозно-кровавый
          - нормальная жидкость прозрачная, тогда как мутная или серозно-кровавая указывает на
            скомпрометированный кишечник

 22: общий белок брюшной полости
          - линейный
          - чем выше уровень протеина, тем выше вероятность
            скомпрометированный кишечник. Значения указаны в гмс / дл.

 23: результат
          - что в итоге случилось с лошадью?
          - возможные значения:
               1 = жил
               2 = умер
               3 = был усыплен

 24: хирургическое поражение?
          - ретроспективно, была ли проблема (поражение) хирургической?
          - все больные либо прооперированы, либо вскрыты, чтобы
            это значение и тип поражения всегда известны
          - возможные значения:
               1 = Да
               2 = Нет

 25, 26, 27: тип поражения
          - первое число - место поражения
               1 = желудочный
               2 = см кишечник
               3 = lg двоеточие
               4 = lg толстой кишки и слепой кишки
               5 = слепая кишка
               6 = поперечная ободочная кишка
               7 = назад / нисходящая кишка
               8 = матка
               9 = мочевой пузырь
               11 = все участки кишечника
               00 = нет
          - второе число - это тип
               1 = простой
               2 = удушение
               3 = воспаление
               4 = другое
          - третье число - подтип
               1 = механический
               2 = паралитический
               0 = н / д
          - четвертая цифра - это конкретный код
               1 = обтурация
               2 = внутренний
               3 = внешний
               4 = адинамический
               5 = заворот / кручение
               6 = инвагинация
               7 = тромбоэмболический
               8 = грыжа
               9 = липома / тонкое ущемление
               10 = смещение
               0 = н / д
 28: cp_data
          - Присутствуют ли данные патологии для этого случая?
               1 = Да
               2 = Нет
          - эта переменная не имеет значения, поскольку данные патологии
            не включается и не собирается для этих случаев

8. Отсутствующие значения: 30% значений отсутствуют.

In [66]:
import pandas as pd
data = pd.read_csv('horse_data.csv')
data.columns = ['операция?', 'Возраст', 'Номер больницы', 'ректальная температура', 'пульс', 'частота дыхания', 'температура конечностей', 'периферический пульс', 'слизистые оболочки', 'время наполнения капилляров', 'боль', 'перистальтика', 'вздутие живота', 'назогастральный зонд', 'назогастральный рефлюкс', 'назогастральный рефлюкс, PH', 'ректальное исследование - кал', 'живот', 'объем упакованной ячейки', 'общий белок', 'внешний вид брюшной полости', 'общий белок брюшной полости', 'результат', 'хирургическое поражение?', 'место поражения', 'тип поражения', 'подтип поражения', 'cp_data']
data

,операция?,Возраст,Номер больницы,ректальная температура,пульс,частота дыхания,температура конечностей,периферический пульс,слизистые оболочки,время наполнения капилляров,...,объем упакованной ячейки,общий белок,внешний вид брюшной полости,общий белок брюшной полости,результат,хирургическое поражение?,место поражения,тип поражения,подтип поражения,cp_data
0,1,1,534817,39.2,88,20,?,?,4,1,...,50,85,2,2,3,2,2208,0,0,2
1,2,1,530334,38.30,40,24,1,1,3,1,...,33.00,6.70,?,?,1,2,0,0,0,1
2,1,9,5290409,39.10,164,84,4,1,6,2,...,48.00,7.20,3,5.30,2,1,2208,0,0,1
3,2,1,530255,37.30,104,35,?,?,6,2,...,74.00,7.40,?,?,2,2,4300,0,0,2
4,2,1,528355,?,?,?,2,1,3,1,...,?,?,?,?,1,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294,1,1,533886,?,120,70,4,?,4,2,...,55,65,?,?,3,2,3205,0,0,2
295,2,1,527702,37.20,72,24,3,2,4,2,...,44.00,?,3,3.30,3,1,2208,0,0,1
296,1,1,529386,37.50,72,30,4,3,4,1,...,60.00,6.80,?,?,2,1,3205,0,0,2
297,1,1,530612,36.50,100,24,3,3,3,1,...,50.00,6.00,3,3.40,1,1,2208,0,0,1
298,1,1,534618,37.2,40,20,?,?,?,?,...,36,62,1,1,3,2,6112,0,0,2

Я не оч глубоко разбираюсь в вопросах заболеваний у лошадок, так что выберу 8 столбцов просто по своему дилетантскому розумению:

In [60]:
small_data = data[['операция?', 'Возраст', 'пульс',  'вздутие живота', 'ректальная температура', 'результат', 'тип поражения', 'хирургическое поражение?']]
small_data

,операция?,Возраст,пульс,вздутие живота,ректальная температура,результат,тип поражения,хирургическое поражение?
0,1,1,88,2,39.2,3,0,2
1,2,1,40,1,38.30,1,0,2
2,1,9,164,4,39.10,2,0,1
3,2,1,104,?,37.30,2,0,2
4,2,1,?,2,?,1,0,2
...,...,...,...,...,...,...,...,...
294,1,1,120,?,?,3,0,2
295,2,1,72,3,37.20,3,0,1
296,1,1,72,3,37.50,2,0,1
297,1,1,100,3,36.50,1,0,1
298,1,1,40,?,37.2,3,0,2

In [41]:
small_data.describe()

         Возраст  тип поражения  хирургическое поражение?
count  299.00000     299.000000                299.000000
mean     1.64214      90.528428                  1.361204
std      2.17730     650.637139                  0.481155
min      1.00000       0.000000                  1.000000
25%      1.00000       0.000000                  1.000000
50%      1.00000       0.000000                  1.000000
75%      1.00000       0.000000                  2.000000
max      9.00000    7111.000000                  2.000000

In [58]:
small_data['Возраст'].mode()

0    1
dtype: int64

In [46]:
small_data[small_data['тип поражения'] != 0]

,операция?,Возраст,пульс,вздутие живота,внешний вид брюшной полости,результат,тип поражения,хирургическое поражение?
62,2,1,130,4,2,3,1400,2
110,1,1,40,2,1,1,7111,1
115,1,1,44,3,?,1,3111,1
117,1,1,78,1,2,1,6112,1
177,1,1,60,4,3,1,3111,1
205,1,1,96,3,?,1,3112,1
228,1,9,120,?,1,1,3111,1

In [49]:
small_data['пульс'].mean()

TypeError: Could not convert 8840164104?48608090667242927696128486411072484213060607248?4896108606410010411272521468815060120140120604880844684?40114160?64?9648608813064607254524860485652?1003852?969840100?6054884064425211450?48488488441084060401405270525060847040406044?44?7856548040644842?50844930884840100136?485660444212048848048441324844?100484848526042??426066761204044104654486129104??6068601008448?56681206480606040100486088446096606048864836?10096?88446886120455640?7640528892112665054120?90120104923072485242548870905236921249668881084810042124112801847296527240488875445668544264608010012076150365040564878707254668284?504580667840120727210040 to numeric

In [53]:
small_data['вздутие живота'].mean()

TypeError: Could not convert 214?232411232133?13411?3?32?1423?43112?3?14?44132221?34?334?2?42211??31?1??21322214323?21?313131323???212?243221?3233112113322131?211?3341?1?4143432?2242422412??2123112413334?1?4432411?1311113412121233?1243?32243211???3?312113?3?41?311212?41334443311142431?2122?23122?12143422213?12?113??2?33?1?333? to numeric

In [64]:
small_data['ректальная температура'].median()

TypeError:

Большинство лошадок довольно молодые (видно по мине - 1.64 года, она ближе к 2 что есть код молодой лошади), есть аномалия - 9, собственно из-за нее и ст. отклонение такое странное. Хотя мода столбца Возраст 1, так что мина имеет ошибку из-за аномалии 9.
В качестве гипотезы о возникновении этой аномалии предполагаю прямоту рук вводившего данные:).
Тип поражения так же дискретная величина, последовательность кодов болячек, чтото отличное от 0 наблюдается только у 7 лошадок.
Вообще эти признаки интереснее анализировать в совокупности, корреляцию например, уверен она бы показала массу зависимостей.
Ошибка при подсчете мины у пульса говорит о наличии сильно поврежденных данных, данная серия требует предварительную обработку.
Вздутие живота, дискретное значение с кодом степени вздутия, имеет пропуски и поврежденные данные.

Вобщем мое заключение к задаче 1 - датасет требует предобработки по очистке от явно поврежденных данных а также пропусков.

In [67]:
data.describe(include='all')

,операция?,Возраст,Номер больницы,ректальная температура,пульс,частота дыхания,температура конечностей,периферический пульс,слизистые оболочки,время наполнения капилляров,...,объем упакованной ячейки,общий белок,внешний вид брюшной полости,общий белок брюшной полости,результат,хирургическое поражение?,место поражения,тип поражения,подтип поражения,cp_data
count,299,299.00000,2.990000e+02,299,299,299,299,299,299,299,...,299,299,299,299,299,299.000000,299.000000,299.000000,299.000000,299.000000
unique,3,NaN,NaN,66,53,41,5,5,7,4,...,81,85,4,40,4,NaN,NaN,NaN,NaN,NaN
top,1,NaN,NaN,?,48,?,3,1,1,1,...,?,?,?,?,1,NaN,NaN,NaN,NaN,NaN
freq,180,NaN,NaN,60,28,58,108,115,79,188,...,29,33,164,197,178,NaN,NaN,NaN,NaN,NaN
mean,NaN,1.64214,1.087748e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.361204,3632.321070,90.528428,7.387960,1.668896
std,NaN,2.17730,1.532026e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.481155,5390.356722,650.637139,127.749768,0.471399
min,NaN,1.00000,5.184760e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000,0.000000,0.000000,0.000000,1.000000
25%,NaN,1.00000,5.289040e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000,2111.500000,0.000000,0.000000,1.000000
50%,NaN,1.00000,5.303100e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000,2322.000000,0.000000,0.000000,2.000000
75%,NaN,1.00000,5.347360e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.000000,3209.000000,0.000000,0.000000,2.000000
max,NaN,9.00000,5.305629e+06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.000000,41110.000000,7111.000000,2209.000000,2.000000

Полная описательная статистика пандасом. Не знаю зачем я ее сделал:D, ну типа "смарите я умею".
Если серьезно, то все не дискретные значения имеют поврежденные данные (именно поэтому там НаНы в описательной стате) - нужна некая предобработка т.к. тру-скилы вида "if isna() then median()" и т.п. способы борьбы с пропусками тоже не прокатят - эту самую медиану мне пандас не посчитает из-за поврежденных значений.

Вобщем я наверняка чтото не правильно понимаю, нид ассистанс:).
И да, ноутбук с вебинара вроде забыли выложить (ну или я слепой).