Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [3]:
import pandas as pd

In [60]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
movies = pd.read_csv('ml-latest-small/movies.csv')
data = pd.merge(movies, ratings, on=["movieId"])
data = data[data.rating == 5.0]['title']

In [69]:
data.value_counts().head()

Shawshank Redemption, The (1994)             153
Pulp Fiction (1994)                          123
Forrest Gump (1994)                          116
Matrix, The (1999)                           109
Star Wars: Episode IV - A New Hope (1977)    104
Name: title, dtype: int64

In [ ]:
# Shawshank Redemption, The (1994)             153

Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [79]:
data = pd.read_csv('power.csv')
pribaltics = data[(data.country == 'Latvia') | (data.country == 'Lithuania') | (data.country == 'Estonia')]
pribaltics.head()

       country  year  quantity  category
373  Lithuania  2014      39.0         1
374  Lithuania  2013     192.0         1
375  Lithuania  2012     196.0         1
376  Lithuania  2011     171.0         1
377  Lithuania  2010     158.0         1

In [82]:
categorized_pribaltics = pribaltics[(pribaltics.category == 4) | (pribaltics.category == 12) | (pribaltics.category == 21)]
categorized_pribaltics.tail()

          country  year  quantity  category
253986  Lithuania  2005       1.0        21
253987  Lithuania  2004       1.0        21
253988  Lithuania  2003       0.0        21
253989  Lithuania  2002       0.0        21
253990  Lithuania  2001       0.0        21

In [85]:
year_filtered_categorized_pribaltics = categorized_pribaltics[(categorized_pribaltics.year >= 2005) & (categorized_pribaltics.year <= 2010)]
year_filtered_categorized_pribaltics.head()

         country  year  quantity  category
10617    Estonia  2008       1.0         4
10618    Estonia  2007       0.0         4
10619    Estonia  2006       0.0         4
10620    Estonia  2005       1.0         4
11156  Lithuania  2008       1.0         4

In [89]:
year_filtered_categorized_pribaltics[year_filtered_categorized_pribaltics.quantity >= 0.0]['quantity'].sum()

240580.0

Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [94]:
page_url = 'https://www.finanz.ru/valyuty/v-realnom-vremeni'

# Импортируем нужную нам страницу в df
# attrs = {'class': 'news_table'} ---> указываем какой именно блок нам нужен
# encoding='utf-8' ---> указываем кодировку страниц для корректного отображения кириллицы
data = pd.read_html(page_url, attrs = {'class': 'quote_list'}, encoding='utf-8')
data

[    Unnamed: 0              Рубль  Предложение  Спрос  Предыдущее закрытие  \
 0          NaN            GBP/RUB      1012049      -              1011455
 1          NaN            EUR/RUB       904123      -               914355
 2          NaN            USD/RUB       740235      -               743485
 3          NaN            JPY/RUB        07171      -                07166
 4          NaN            CNY/RUB       113394      -               113319
 5          NaN            CHF/RUB       837498      -               836817
 6          NaN               Евро  Предложение  Спрос  Предыдущее закрытие
 7          NaN            EUR/USD        12239      -                12299
 8          NaN            EUR/GBP        08952      -                09030
 9          NaN            EUR/JPY      1263150      -              1269100
 10         NaN            EUR/CHF        10817      -                10841
 11         NaN         Доллар США  Предложение  Спрос  Предыдущее закрытие
 12         NaN            USD/EUR        08171      -                08172
 13         NaN            USD/GBP        07314      -                07314
 14         NaN            USD/JPY      1032260      -              1032050
 15         NaN            USD/CHF        08839      -                08816
 16         NaN      Японская иена  Предложение  Спрос  Предыдущее закрытие
 17         NaN    JPY/EUR (100:1)        07900      -                07900
 18         NaN            JPY/GBP        00071      -                00071
 19         NaN            JPY/USD        00097      -                00097
 20         NaN    JPY/CHF (100:1)        08600      -                08500
 21         NaN    Фунт стерлингов  Предложение  Спрос  Предыдущее закрытие
 22         NaN            GBP/USD        13672      -                13618
 23         NaN            GBP/JPY      1411306      -              1411546
 24         NaN            GBP/EUR        11170      -                11081
 25         NaN            GBP/CHF        12083      -                12002
 26         NaN  Швейцарский франк  Предложение  Спрос  Предыдущее закрытие
 27         NaN            GBP/CHF        12083      -                12002
 28         NaN            EUR/CHF        10817      -                10841
 29         NaN    JPY/CHF (100:1)        08600      -                08500
 30         NaN            USD/CHF        08839      -                08816
 31         NaN  Украинская гривна  Предложение  Спрос  Предыдущее закрытие
 32         NaN            EUR/UAH       346976      -               346721
 33         NaN            USD/UAH       283500      -               283350
 34         NaN            CHF/UAH       320751      -               320532
 35         NaN            GBP/UAH       387602      -               387425

           %  Абсолютное значение       Время
 0    0,06 %                00595  02.01.2021
 1   -1,12 %               -10232  01.01.2021
 2   -0,44 %               -03250  01.01.2021
 3    0,08 %                00005  02.01.2021
 4    0,07 %                00075  02.01.2021
 5    0,08 %                00681  02.01.2021
 6         %  Абсолютное значение       Время
 7   -0,48 %               -00060  31.12.2020
 8   -0,86 %               -00078  31.12.2020
 9   -0,47 %               -05950  31.12.2020
 10  -0,22 %               -00024  31.12.2020
 11        %  Абсолютное значение       Время
 12  -0,02 %               -00002  02.01.2021
 13   0,01 %                00001  02.01.2021
 14   0,02 %                00210  31.12.2020
 15   0,26 %                00023  31.12.2020
 16        %  Абсолютное значение       Время
 17  -0,01 %                00000  02.01.2021
 18   0,02 %                00000  02.01.2021
 19   0,01 %                00000  02.01.2021
 20   0,24 %                00000  31.12.2020
 21        %  Абсолютное значение       Время
 22   0,40 %                00054  31.12.2020
 23  -0,02 %               -00240  02.01.2021
 24   0,81 %                00090  31.12.2020
 25   0,68 %                00081  31.12.2020
 26        %  Абсолютное значение       Время
 27   0,68 %                00081  31.12.2020
 28  -0,22 %               -00024  31.12.2020
 29   0,24 %                00000  31.12.2020
 30   0,26 %                00023  31.12.2020
 31        %  Абсолютное значение       Время
 32   0,07 %                00255  02.01.2021
 33   0,05 %                00150  02.01.2021
 34   0,07 %                00219  02.01.2021
 35   0,05 %                00177  02.01.2021  ]