# Задание 1
Печатные газеты использовали свой формат дат для каждого выпуска. Для каждой газеты из списка напишите формат указанной даты для перевода в объект datetime:
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

In [8]:
from datetime import datetime
from datetime import timedelta

In [15]:
def moscow_times_time(time_string):
    time_string = time_string.split(' - ')[1]
    return datetime.strptime(time_string, "%A, %B %d, %Y")

def the_guardian_time(time_string):
    time_string = time_string.split(' - ')[1]
    return datetime.strptime(time_string, "%A, %m.%d.%y")
    
def daily_news_time(time_string):
    time_string = time_string.split(' - ')[1]
    return datetime.strptime(time_string, "%A, %M %B %Y")

print(moscow_times_time('The Moscow Times - Wednesday, October 2, 2002'))
print(the_guardian_time('The Guardian - Friday, 11.10.13'))
print(daily_news_time('Daily News - Thursday, 18 August 1977'))

2002-10-02 00:00:00
2013-11-10 00:00:00
1977-08-01 00:18:00

# Задание 2
Дан поток дат в формате YYYY-MM-DD, в которых встречаются некорректные значения:
stream = [‘2018-04-02’, ‘2018-02-29’, ‘2018-19-02’]
Напишите функцию, которая проверяет эти даты на корректность. Т. е. для каждой даты возвращает True (дата корректна) или False (некорректная дата).

In [20]:
def correct_date(date_string):
    try:
        dt_obj = datetime.strptime(date_string, "%Y-%m-%d")
    except:
        return False
    return True

print(correct_date('2018-04-02'))

True

# Задание 3
Напишите функцию date_range, которая возвращает список дат за период от start_date до end_date. Даты должны вводиться в формате YYYY-MM-DD. В случае неверного формата или при start_date > end_date должен возвращаться пустой список.

In [27]:
def date_range(start, end):
    result = []
    format = "%Y-%m-%d"
    try:
        start = datetime.strptime(start, "%Y-%m-%d")
        end = datetime.strptime(end, "%Y-%m-%d")
        if start >= end:
            raise Exception()
    except:
        return result
    
    result = [start]
    while start != end:
        start = start + timedelta(days = 1)
        result.append(start)
    return result

date_range('2018-04-02', '2018-04-01')

[]

# Задание 4 (бонусное)
Ваш коллега прислал код функции:

DEFAULT_USER_COUNT = 3

def delete_and_return_last_user(region, default_list=[‘A100’, ‘A101’, ‘A102’]):
""“
Удаляет из списка default_list последнего пользователя
и возвращает ID нового последнего пользователя.
”""
element_to_delete = default_list[-1]
default_list.remove(element_to_delete)

return default_list[DEFAULT_USER_COUNT-2]
При однократном вызове этой функции все работает корректно:
delete_and_return_last_user(1)
‘A101’

Однако, при повторном вызове получается ошибка IndexError: list index out of range.

Задание:

Что значит ошибка list index out of range?
Почему при первом запуске функция работает корректно, а при втором - нет?

**Что значит ошибка list index out of range?**
- Значит обращение к области памяти за пределами адресного пространства данного листа. Вообще учитывая что листы в Питоне внутри устроены как линкед-листы, то это не совсем корректный ответ, но предположу что в интро-курсе... ан нет, вот загуглил прям щас, оказывается листы внутри это динамические массивы, значит мой ответ верен:). Оставлю весь текст как есть - мб ход мысли интересен).

**Почему при первом запуске функция работает корректно, а при втором - нет?**
- Потому что list.remove удаляет элемент из листа (в нашем случае -1 <=> последний, но это не важно), т.е. укорачивает исходный лист, а строка return default_list[DEFAULT_USER_COUNT-2] возвращает 1й элемент (3-2=1, хотя могу ошибаться). Если размер листа < 2, получим попытку прочитать несуществующий элемент, т.е. index out of range.